

.resst{
  background-image: url(./components/images/fourth.jpeg);
  height: 100vh;
  background-size: cover ;
  background-repeat: no-repeat;
}

.fonty{
  font-family: 'Dancing Script', cursive;
  display: inline-flex;
  width: 100%;
  padding: 0.5%;
  
  font-size: 25px;

  }



  .boldy{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
  }
 
  
  
  
  
  


